@import url("https://fonts.googleapis.com/css2?family=M+PLUS+2&display=swap");
body {
  background-color: #393f4c;
  height: 100vh;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 100vw;
}

header, footer {
  background-color: #302833;
  box-sizing: border-box;
  height: 5vh;
  padding: 0 5vw;
  position: relative;
  width: 100%;
  z-index: 500;
}

a {
  color: #f8f4e6;
}
a:hover {
  color: #ba2636;
}

/******************/
/*   Scrollbar    */
/******************/
::-webkit-scrollbar {
  width: 10px;
  background-color: #f8f4e6;
}

::-webkit-scrollbar-track {
  background-color: #f8f4e6;
}

::-webkit-scrollbar-thumb {
  background-color: #ba2636;
  border-radius: 2px;
}

/******************/
/*      Font      */
/******************/
h1, h2, h3, p {
  color: #f8f4e6;
  font-family: "M PLUS 2", sans-serif;
  margin: 0;
}

i {
  font-size: 25px;
  margin: 0 4px;
}

.right {
  text-align: right;
}

/******************/
/*     Header     */
/******************/
header {
  border-bottom: 1px solid #f8f4e6;
}
header p {
  position: absolute;
  bottom: 0;
}
header .status {
  right: 5vw;
}

/******************/
/*      Main      */
/******************/
main {
  align-items: center;
  display: flex;
  height: 90vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.card {
  background-color: #302833;
  border: 1px solid #f8f4e6;
  border-radius: 5px;
  box-shadow: 0 0 2px #00184d;
  display: block;
  margin: 16px;
  padding: 32px;
  position: absolute;
  width: 45vw;
  z-index: 100;
}
.card:nth-child(even) {
  right: 0;
  z-index: 50;
}

.dead-end {
  background-color: #ba2636;
  border-top: solid 10px #f8f4e6;
  border-bottom: solid 10px #f8f4e6;
  position: absolute;
  right: 50vw;
  transform: translate(50%);
  width: 50vw;
}
.dead-end h1 {
  padding-top: 5vh;
  text-align: center;
}
.dead-end p {
  padding-bottom: 5vh;
  padding-top: 1vh;
  text-align: center;
}

.works {
  max-height: 75vh;
  overflow-y: scroll;
}
.works h2 {
  padding-top: 20px;
}
.works h2 a {
  margin-right: 8px;
}
.works h2 a:first-child {
  margin-left: 16px;
}
.works p {
  text-align: center;
}
.works figure {
  border: 2px solid #f8f4e6;
  border-radius: 2px;
  font-size: 0;
  margin: 16px 0;
}
.works figure img {
  width: 100%;
}
.works .core-technologies {
  line-height: 25px;
  margin-bottom: 16px;
  position: relative;
}
.works .core-technologies h3 {
  display: inline;
  margin-right: 16px;
}
.works .core-technologies img {
  bottom: 0;
  position: absolute;
}

/******************/
/*     Fotter     */
/******************/
footer {
  border-top: 1px solid #f8f4e6;
}
