.dead-end {
  background-color: #ba2636;
  border-top: solid 10px #f8f4e6;
  border-bottom: solid 10px #f8f4e6;
  position: absolute;
  right: 50vw;
  transform: translate(50%);
  width: 50vw;

  h1 {
    padding-top: 5vh;
    text-align: center;
  }
  
  p {
    padding-bottom: 5vh;
    padding-top: 1vh;
    text-align: center;
  }
}
