.profile {
  max-width: 600px;
}

.introduction {
  display: grid;
  gap: 16px;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

.icon {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin: 0;

  img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }
}