@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2&display=swap');
@import "./styles/breakpoints";

html {
  overflow: hidden;
  min-height: -webkit-fill-available;
  min-height: 100vh;
}

body {
  background-color: #393f4c;
  height: 100vh;
  margin: 0;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100vw;
}

header,
footer {
  background-color: #302833;
  box-sizing: border-box;
  height: 5vh;
  padding: 0 5vw;
  position: relative;
  width: 100vw;
  z-index: 500;
}

.icon-link {
  color: #f8f4e6;
  transition: 0.3s ease-out;

  &:hover {
    color: #ba2636;
    transition: 0.2s ease-out;
  }
}

/******************/
/*   Scrollbar    */
/******************/
::-webkit-scrollbar {
  width: 10px;
  background-color: #f8f4e6;
}

::-webkit-scrollbar-track {
  background-color: #f8f4e6;
}

::-webkit-scrollbar-thumb {
  background-color: #ba2636;
  border-radius: 2px;
}

/******************/
/*      Font      */
/******************/
h1,
h2,
h3,
p {
  color: #f8f4e6;
  font-family: 'M PLUS 2', sans-serif;
  margin: 0;
}

i {
  font-size: 25px;
  margin: 0 4px;
}

.right {
  text-align: right;
}

/******************/
/*     Header     */
/******************/
header {
  border-bottom: 1px solid #f8f4e6;

  p {
    position: absolute;
    bottom: 0;
  }

  .status {
    right: 5vw;
  }
}

/******************/
/*      Main      */
/******************/
main {
  align-items: center;
  display: flex;
  height: 90vh;
  overflow: hidden;
  position: relative;
  width: 100vw;

  @include small {
    box-sizing: border-box;
    justify-content: center;
  }
}

.handling-area {
  height: 100%;
  width: 100%;
}

.card {
  background-color: #302833;
  border: 1px solid #f8f4e6;
  border-radius: 5px;
  box-shadow: 0 0 2px #00184d;
  margin: 16px;
  padding: 32px;
  position: absolute;
  width: 45vw;
  z-index: 100;

  &:nth-child(odd) {
    right: 0;
    z-index: 50;
  }

  @include small {
    margin: 8px;
    width: 72vw;

    &:nth-child(odd) {
      right: auto;
    }
  }
}

@import "styles/profile.scss";

@import "styles/works.scss";

@import "styles/dead-end.scss";

/******************/
/*     Fotter     */
/******************/
footer {
  border-top: 1px solid #f8f4e6;
}